body{
	background:url("https://images.unsplash.com/photo-1458560871784-56d23406c091?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=66fb9d30c34fe2b1db28563c31c42c22&auto=format&fit=crop&w=500&q=60")no-repeat fixed center;
	background-size: cover;	
	height:500px;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
h1{
	display:flex;																																																																								
	justify-content: center;
	align-items: center;
	font-family: 'Kirang Haerang', cursive;
	font-size: 60px;
	text-shadow: 3px 3px white;

}
