#name{
	font-size: 40;
	margin:15;
	border-radius: 20px;
	outline: none;
	padding: 32px 16px;
	box-shadow: 4px 5px;
	font-family: 'Dancing Script', cursive;
}
#demo{
	border:2px solid black;
	border-radius:5px;
	padding:14px 28px;
	width:175px;
	font-size: 35px;
	box-shadow: 2px 2px;
	background-color: white;
}
#btn{

	padding:12px 28px;
	font-size: 15px;
	border-radius: 50%;
	margin:20;
	outline:none;
    box-shadow: 5px 3px 4px 2px;
    width:150px;
    background-color: azure;

}
#btn:hover{
	background-color: white;
	box-shadow: 5px 3px 4px 2px white;
}
body{
	
background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);}
.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
	font-family: 'Dancing Script', cursive;
}