<table class="container">
  <tr>
   <input type="number"  class="input" value ='0' [(ngModel)]="current" > 
  </tr>
  <tr  class="row1">
    <button (click)="onClick('7')">7</button>
    <button (click)="onClick('8')">8</button>
    <button (click)="onClick('9')">9</button>
    <button (click)="onClick('/')">/</button>
  </tr>
  <tr  class="row1">
    <button (click)="onClick('6')">6</button>
    <button (click)="onClick('5')">5</button>
    <button (click)="onClick('4')">4</button>
    <button (click)="onClick('*')">*</button>
  </tr>
  <tr  class="row1">
    <button (click)="onClick('3')">3</button>
    <button (click)="onClick('2')">2</button>
    <button (click)="onClick('1')">1</button>
    <button (click)="onClick('+')">+</button>
  </tr>
  <tr  class="row1">
    <button (click)="onClick('0')">0</button>
    <button (click)="onClick2('ce')">ce</button>
    <button (click)="onClick('-')">-</button>
    <button (click)="onClick1('=')">=</button>
  </tr>
</table>