body{
background: #EECDA3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.layout{
	
	justify-content: center;
	align-items: center;
	margin-top: 10%;
	margin-left: 23%;
	font-family: 'Bree Serif', serif;
	


}
input[type="checkbox"]{
	width:30px;
	height:30px;
	cursor: pointer;
	box-shadow: 3px 4px;

}
#amm{
	margin:20px;
	padding:15px;
	border-radius: 20px;
	outline:none;
	margin-left: 20%;
	border:2px solid black;



}
/*#rupee10{
	margin:10px;

}
#rupee5{
	margin:10px;
	
}
#rupee2{
	margin:10px;
}
#rupee1{
	margin:10px;
}*/
#btn{
	margin:20px;
	padding:15px;
	border-radius: 20%;
	outline:none;
	box-shadow: 5px 4px ;
	margin-left: 24%;
	font-family: 'Bree Serif', serif;

}
p{
	margin-left: 22%;
	font-size: 20px;
	font-family: 'Bree Serif', serif;

}